body {
    text-align: center;
    background-color: #EEEEEE;
    font-size: 16px;
}

h1 {
    color: #222831;
}

p {
    color: #393E46;
}

button {
    color: #222831;
    background-color: #00ADB5;
    padding: 15px 32px;
    margin: 5px;
}