.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 75px;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 75px;
}

.wrapper1 div {
    border: 1px solid black;
}

.wrapper2 div {
    border: 1px solid black;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.box2 {
    grid-row-start: 2;
    grid-row-end: 5;
}

#red {
    background-color: crimson;
}

#green {
    background-color: lime;
}