<htlml>
<head>
<title>Mansikkapirtelö</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Mansikkapirtelö</h1>
    <h2>Ainekset</h2>
    <p>
        -200g vanilja- tai mansikkajäätelöä<br>
        -100g pakastemansikoita<br>
        -3dl maitoa<br>
        <br>
        1. Mittaa ainekset kulhoon ja sekoita tasaiseksi sauvasekoittimella tai tehosekoittimessa.<br>
        2. Kaada pirtelö laseihin ja tarjoile heti.<br>
    </p>
    <a href="https://www.valio.fi/reseptit/mansikkapirtelo/">Linkki reseptiin</a>
    <img src="mansikkapirtelo.jpg">
</body>
</htlml>