/*https://colorhunt.co/palette/ffbcbc3636364cd3c2b7efcd väripaletti*/
body {
    background-image: url("tausta.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
*{
    padding: 0;
    margin: 0;
}

.videot{
    text-align: center;
}

.p11{
    font-size: 60px;
    text-align: center;
    font-family: fantasy;
}

.rock{
    text-decoration: underline;
    color: #4CD3C2;
}

.Yhteystiedot{
    text-align: center;
    color: #363636;
    font-size: 40px;
}
.tekijät{
    text-align: center;
    color: #363636;
    font-size: 40px;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFBCBC;
}

li{
    list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

.container{
    width: 1600px;
    margin: auto;
}

.subcontainer{
    width: 85%;
    margin: auto;
}

.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    color: #363636;
}

.nav-branding{
    font-size: 2rem;
    color: #363636;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: black;
}
#home{
    margin-top: 70px;
    border: 1px solid black;
    height: 100vh;
}


@media(max-width:1600px){
    .container{
        width: 100%;
    }
}

@media(max-width:1024px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

.nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #FFBCBC;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    color: #363636;
    }

    .nav-item{
        margin: 16px 0;
        color: #363636;
    }

    .nav-menu.active{
        left: 0;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
    color: white;
  }
  

  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #FFBCBC;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    background-color: #FFBCBC;
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 54px;
  }
  
  .btn {
    background-color: #FFBCBC;
    color: #363636;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #f49a9a;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  /* footerin oma väri ja koko.*/
  .footer-basic {
    padding:40px 0;
    background-color:#FFBCBC;
    color:#363636;
  } 
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #4CD3C2;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#363636;
    margin-bottom:0;
  }