body {
    background-color: #00a8ff;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    text-align: center;
    color: #273c75;
}

h2 {
    color: #273c75;
}

img {
    float: right;
}

ul {
    list-style-type: circle;
}