body {
    background-color: rgb(200, 200, 200);
    text-align: center;
}

form {
    margin: 0 auto;
    box-shadow: 0 0 10px black;
    width: 300px;
    background-color: rgb(150, 150, 150);
    padding: 10px;
}

.kortti {
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(150, 150, 150);
    box-shadow: 0 0 10px black;
    width: 300px;
    font-size: large;
}