* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: aqua;
    height: 100%;
}

header {
    background-color: blue;
    height: 10%;
}

nav {
    background-color: blueviolet;
    height: 10%;
}

#container {
    height: 70%;
}

section {
    width: 50%;
    height: 50%;
    background-color: brown;
}

article {
    width: 50%;
    height: 50%;
    background-color: red;
}

aside {
    float: right;
    width: 50%;
    height: 100%;
    background-color: pink;
}

footer {
    clear: both;
    background-color: goldenrod;
    height: 10%;
}