body {
    margin: 0;
    padding: 0;
}

.navigointi {
    overflow: hidden;
    background-color: #EE6F57;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}

.navigointi a {
    display: inline-block;
    color: #FAFAFA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.navigointi a:hover {
    background-color: #E3E3E3;
    color: black;
} 

.navigointi a.activate {
    background-color: #CB3737;
    color: #FAFAFA;
}

.footer {
    font-size: 15px;
    background-color: #E3E3E3;
    text-align: center;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.header {
    font-size: 125px;
    background-color: #CB3737;
    color: #E3E3E3;
    text-align: center;
}

.scratch {
    text-align: center;
}

.scratch h2 {
    font-size: 40px;
}

.pelaa {
    background-color: #CB3737;
    color: #FAFAFA;
    font-size: 20px;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
}

.tuotteet h2 {
    font-size: 40px;
}

.tuotteet {
    text-align: center;
}