table {
    border: 1px solid purple;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background-color: pink;
    padding: 10px;
    border-spacing: 30px;
    border-radius: 10px;
}

.kuva {
    background-color: lime;
    border: 1px solid red; 
    border-radius: 10px;
    padding: 10px;
}

.teksti {
    background-color: cyan;
    border: 1px solid red; 
    border-radius: 10px;
    padding: 10px;
}

.kirppu {
    border: 1px solid purple;
    background-color: yellow;
    padding: 30px;
    font-size: 25px;
    border-radius: 10px;
}
