body {
    background-color: rgb(200, 200, 200);
}

#blog-post {
    float: right;
    width: 1000px;
    text-align: center;
    border: 1px solid black;
    margin-right: 200px;
}

#paivitys {
    position: absolute;
}

#new-text {
    width: 350px;
    height: 300px;
}