.wrapper1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1500px;
    justify-content: space-evenly;
}

.wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1500px;
    align-content: stretch;
}

.wrapper1 div {
    height: 198px;
    width: 198px;
    border: 1px solid black;
}

.wrapper2 div {
    height: 98px;
    border: 1px solid black;
}

#green {
    background-color: lime;

}

#red {
    background-color: crimson;
}

.small {
    width: 248px;
}

.big {
    width: 498px;
}