* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#a {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 25%;
    background-color:#4cd137;
    float: left;
}
#b {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 50%;
    background-color:#e84118;
    float: left;
}
#c {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 25%;
    background-color:#fbc531;
    float: left;
}
#d {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 25%;
    background-color:#44bd32;
    float: left;
}
#e {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 50%;
    background-color:#c23616;
    float: left;
}
#f {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 25%;
    background-color:#e1b12c;
    float: left;
}